.container {
  background-color: #ffff;
  box-shadow: 18px 21px 8px -18px rgba(0, 0, 0, 0.45);
  border: 1px solid#E6E6E6;
  max-width: 800px;
  padding: 30px 25px;
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
}

.contributionInputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formLabel {
  display: block;
  font-size: 12px;
}

.formInput {
  border: 0;
  border-bottom: 1px solid #7c7c7c;
  color: #b3b3b3;
  width: 330px;
}

.poundSign {
  border-bottom: 1px solid #7c7c7c;
  padding: 4px;
}

.calculatuBtn {
  color: #ffff;
  background-color: #2FB153;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 30px;
}

.calculatuBtn:disabled {
  background-color: #7c7c7c;
}

@media screen and (max-width: 480px) {
  .contributionInputContainer {
    display: block;
  }
  .formInput {
    width: 150px;
  }
}